@use 'variables' as *;


// Estilos para el layout con header fijo y contenido scrollable
.agenda-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: $primary-bg-color !important; // Fondo oscuro
}

.agenda-header-container {
  flex-shrink: 0;
  z-index: 10;
  background-color: $primary-bg-color; // Usar la variable existente
  padding-bottom: 8px;
  overflow-x: hidden;
}

.agenda-content-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  
  // Estilizar scrollbar para navegadores webkit (Chrome, Safari)
  @include custom-scrollbar();

    .calendar-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0; // Permite que el contenedor se adapte correctamente
  }
}